{% extends "dashboard/base.html" %}

{% block title %}
    Avocado Dashboard
{% endblock title %}

{% block content %}


<main role="main" class="container">

    <form id="selectCityForm" method="post" data-url="{% url 'dashboard-home' %}">
    {% csrf_token %}
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        {% for city, props in cities.items %}
            <label class="btn btn-primary active">
                <input name="city-{{ city }}" type="checkbox" checked autocomplete="off">{{ props.pretty }}
            </label>
        {% endfor %}
    </div>

<!--
    <div class="btn-group">
        {% for month, selected in months.items %}
                <button name="month" value="{{ month }}" class="btn btn-primary">{{ month }}</button>
        {% endfor %}
    </div>
-->
    </form>

    <div id="citySelectedList">
        <h1 id="citySelected">{{ city_selected }} selected!</h1>
    </div>

</main>

{% endblock content %}
